
.banner{
    padding: 0px 0px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-title{
    font-size: 60px;
    font-weight: 800;
    font-family: font-family Open Sans sans-serif;
    margin-bottom: 30px;
    line-height: normal;
    display: flex;
    
}
.banner-des{
    color: rgba(17, 16, 16, 0.6);
    font-size: 18px;
    font-style: normal;
    line-height: 25px;
    margin-top: 30px;
}
.header{
    background-color: antiquewhite;


}
.btn-primary{
    border-radius: 10px;
    background-color: #f0355d;
    border: 0;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 15px;
    margin-left: 180px;

}
.section-content{
    margin-top: 100px;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
}
.section-title{
    color: #0f0c0c;
    font-size: 35px;
    text-align: center;
    margin-bottom: 0px;
}
.section-description{
    color: rgba(19, 18, 18, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
}

/* flower section */

.flowers-decoration{
    margin-left: 240px;
    margin-top: 50px;
    display: flex;
    gap: 20px;
}
.flower1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 300px;
    height: 400px;

}
.flower2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 300px;
    height: 400px;
}
.flower3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 300px;
    height: 400px;
}
.flower-description-underline{
    text-align: center;
    text-decoration: underline;
}

/* feature-section */

.feature-item{
    border-radius: 10px;
    background: rgba(39, 39, 39, 0.05);
    width: 740px;
    height: 30px;
    margin-left: 250px;
    padding: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.feature-title{
    color: rgba(41, 39, 39, 0.8);
    text-align: center;
    font-size: 15px;
    line-height: 35px;
}
.feature-icon{
    align-items: center;
    width: 88px;
    height: 88px;
    margin-left: 60px;
}

/* .sales-description */

.sales-item{
    border-radius: 8px;
    background-color: antiquewhite;
    width: 1400px;
    height: 400px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-around;
}
.span-color{
    color: #E55473;
}

.sales-title{
    color: #201e1e;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 35px;
}

.sales-description{
    color: rgba(61, 60, 60, 0.6);
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 35px;
    height: 50px;
    width: 500px;
}

.sales-flower-img{
    width: 300px;
    height: 400px;
}

/* .instagram-section */

.instagram-content{
    width: 1518px;
    height: 150px;
    margin-top: 50px;
}
.featur-title{
    text-align: center;
    color: #1a1717;
    margin-right: 180px;
}
.featur-description{
    text-align: center;
    color: #201e1e;
    margin-right: 150px;
    margin-top: 0px;
}

.icon-flower{
    margin-bottom: 45px;
    width: 240px;
    height: 240px;
    
}

.instagram-flower{
    display: flex;
    align-items: center;
    width: 200px;
    height: 250px;
    gap: 15px;
    margin-left: 220px;
    
}

/* .Leatest-deal */

.leatest-deal{
    background-image: url("../image/Rectangle\ 9.png");
    height: 250px;
    margin: 0 auto;
    margin-bottom: 45px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    width: 900px;
    
   
}

.deal-title {
    font-weight: 700;
    padding-top: 40px;
    margin-right: 50px;
    color: #161414;
    text-align: center;
    font-size: 30px;
    
}

.deal-description {
    color: rgba(46, 44, 44, 0.6);
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    margin-right: 80px;
}

.empty-field{
    border: 0px;
    width: 400px;
    margin-left: 180px;
    background: #f8f4f4;
    border-radius: 4px;
    height: 35px;
    
}
.btn-primary3{
    border-radius: 10px;
    color: white;
    background-color: #f0355d;
    padding: 13px;
    border: 0;
}
/* .footer-section */
footer{
    background-color: #111010;
    width: 1333px;
    height: 280px;
    
}

.flowershop-title{
    text-align: center;
    color: white;
    font-size: 40px;
    padding-top: 50px;
}
.flowershop-description{
    text-align: center;
    color: white;
}
.all-rishts{
    text-align: center;
    color: white;
}